<a href="https://colab.research.google.com/github/jhuarancca/Data-Science-for-Healthcare-Claims-data/blob/main/BigQuery_bquxjob_6aa0b7a7_18634128a73.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'healthcaredata-376400' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=healthcaredata-376400:US:bquxjob_6aa0b7a7_18634128a73)
back to BigQuery to edit the query within the BigQuery user interface.

In [6]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_6aa0b7a7_18634128a73') # Job ID inserted based on the query results selected to explore
print(job.query)

With diabetics as (SELECT
      d.person_id,
      d.drug_concept_id,
      c.concept_name
      FROM
      `bigquery-public-data.cms_synthetic_patient_data_omop.drug_era` AS d
      JOIN
      `bigquery-public-data.cms_synthetic_patient_data_omop.concept` AS c
      ON  d.drug_concept_id = c.concept_id
      WHERE
      REGEXP_CONTAINS(c.concept_name,'(?i).*insulin*')
      AND drug_era_start_date >= '2010-01-01' and drug_era_start_date <= '2010-06-30'
      GROUP BY
      d.person_id,
      d.drug_concept_id,
      c.concept_name)
 Select
 p.person_id, procedure_dat, procedure_concept_id, c.concept_name
 From `bigquery-public-data.cms_synthetic_patient_data_omop.procedure_occurrence`
as p
 Join `bigquery-public-data.cms_synthetic_patient_data_omop.concept` as c
 on procedure_concept_id = c.concept_id
 Join diabetics as d
 on d.person_id = p.person_id
 WHERE procedure_dat >= '2010-01-01' and procedure_dat <= '2010-06-30'

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [7]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_6aa0b7a7_18634128a73') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (825538) exceeds max_rows (20000). Falling back to pandas display.

,person_id,procedure_dat,procedure_concept_id,concept_name
0,1858764,2010-06-18,2005496,"Closed reduction of separated epiphysis, radiu..."
1,1858764,2010-06-18,2005496,"Closed reduction of separated epiphysis, radiu..."
2,1660238,2010-05-22,2101040,Anesthesia for procedures on major lower abdom...
3,505555,2010-06-22,2211333,"Computed tomography, maxillofacial area; witho..."
4,516191,2010-06-29,2314295,Development of cognitive skills to improve att...
...,...,...,...,...
825533,18587,2010-06-13,2002291,Other diagnostic procedures on lymphatic struc...
825534,314248,2010-06-13,2003287,Endoscopic sphincterotomy and papillotomy
825535,1094516,2010-06-13,2002291,Other diagnostic procedures on lymphatic struc...
825536,1974932,2010-06-13,2002291,Other diagnostic procedures on lymphatic struc...
825537,1974932,2010-06-13,2002291,Other diagnostic procedures on lymphatic struc...

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [8]:
results.describe()

          person_id  procedure_concept_id
count  8.255380e+05          8.255380e+05
mean   1.162124e+06          2.461070e+06
std    6.685690e+05          3.037079e+06
min    2.790000e+02          0.000000e+00
25%    5.832610e+05          2.002849e+06
50%    1.175559e+06          2.109194e+06
75%    1.735157e+06          2.414396e+06
max    2.326787e+06          4.356195e+07