<a href="https://colab.research.google.com/github/jhuarancca/Data-Science-for-Healthcare-Claims-data/blob/main/BigQuery_bquxjob_5a5505aa_186341f81c1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'healthcaredata-376400' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=healthcaredata-376400:US:bquxjob_5a5505aa_186341f81c1)
back to BigQuery to edit the query within the BigQuery user interface.

In [14]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_5a5505aa_186341f81c1') # Job ID inserted based on the query results selected to explore
print(job.query)

Select p.person_id, procedure_concept_id, c.concept_name, procedure_dat
From `bigquery-public-data.cms_synthetic_patient_data_omop.procedure_occurrence`as p
Join `bigquery-public-data.cms_synthetic_patient_data_omop.concept` as c
on procedure_concept_id = c.concept_id
WHERE procedure_dat >= '2010-01-01' and procedure_dat <= '2010-02-28'

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [15]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_5a5505aa_186341f81c1') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (16029390) exceeds max_rows (20000). Falling back to pandas display.

,person_id,procedure_concept_id,concept_name,procedure_dat
0,1955912,2514409,"Subsequent hospital care, per day, for the eva...",2010-01-01
1,1311655,2514409,"Subsequent hospital care, per day, for the eva...",2010-01-01
2,783350,2514409,"Subsequent hospital care, per day, for the eva...",2010-01-01
3,839519,2514409,"Subsequent hospital care, per day, for the eva...",2010-01-01
4,1976751,2005416,Closed reduction of fracture without internal ...,2010-01-01
...,...,...,...,...
16029385,2291468,0,No matching concept,2010-02-28
16029386,1300231,4141759,Long-term drug therapy,2010-02-28
16029387,80180,0,No matching concept,2010-02-28
16029388,1717708,0,No matching concept,2010-02-28
16029389,893766,0,No matching concept,2010-02-28

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [ ]:
results.describe()