<a href="https://colab.research.google.com/github/jhuarancca/Data-Science-for-Healthcare-Claims-data/blob/main/Tidying_the_data_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the relevant libraries**

In [1]:
import pandas as pd
import numpy as np
import io # If you are not using Google Colab, skip the last sentence containing 'import io'

**Upload the dataset**

In [2]:
from google.colab import files
raw_claims_data = files.upload()

# If you are not using Google Colab, skip this code cell

Saving OBGYN_practice_dataset.xlsx to OBGYN_practice_dataset.xlsx

**Import the dataset**

In [6]:
raw_data = pd.read_csv('OBGYN_practice_dataset_with_categories.csv')

# If you are not using Google Colab, use a different code:

# raw_data = pd.read_csv(r'C:\Users\location of the csv file on your computer\\OBGYN_with categories.csv')

**Inspect the dataset**

In [7]:
raw_data

,person_id,procedure_date,procedure_concept_id,concept_name,amount,total_paid,provider_id,provider_name,category according to domain expert
0,11248,8/3/2020,2004407,Amputation of cervix,1,839,45192,Baptist Health & Medical Center,Procedure
1,11874,4/6/2020,2004407,Amputation of cervix,1,839,52356,Boudica Female Care,Procedure
2,12745,12/20/2019,2004407,Amputation of cervix,1,839,24023,dr. Mariano & Co.,Procedure
3,13133,7/29/2019,2004407,Amputation of cervix,1,839,24023,dr. Mariano & Co.,Procedure
4,13844,8/31/2020,2004407,Amputation of cervix,1,839,45192,Baptist Health & Medical Center,Procedure
...,...,...,...,...,...,...,...,...,...
52188,19298,9/26/2019,45890386,Abortion Procedures,1,1129,45192,Baptist Health & Medical Center,Procedure
52189,19406,1/18/2020,45890386,Abortion Procedures,1,1129,45192,Baptist Health & Medical Center,Procedure
52190,19435,8/26/2020,45890386,Abortion Procedures,1,1129,4823,East Westfield Health Services,Procedure
52191,19656,4/30/2020,45890386,Abortion Procedures,1,1129,45192,Baptist Health & Medical Center,Procedure
52192,19678,8/27/2020,45890386,Abortion Procedures,1,1129,4823,East Westfield Health Services,Procedure

**Create a pivot table**

In [8]:
pivot = pd.pivot_table(raw_data, values = 'amount', index=['person_id'], columns = 'category according to domain expert',aggfunc=np.sum).reset_index()

**Inspect the pivot table**

In [9]:
pivot

category according to domain expert,person_id,Consultation,Delivery,Diagnostic,Procedure
0,10429,4.0,NaN,3.0,NaN
1,10430,12.0,1.0,6.0,NaN
2,10431,10.0,1.0,6.0,NaN
3,10432,6.0,NaN,6.0,NaN
4,10433,1.0,NaN,NaN,NaN
...,...,...,...,...,...
9258,19688,2.0,1.0,8.0,NaN
9259,19689,2.0,NaN,2.0,NaN
9260,19690,12.0,1.0,6.0,NaN
9261,19691,1.0,NaN,NaN,NaN
9262,19692,1.0,NaN,NaN,NaN

**Replace blank cells with zero**

In [10]:
raw_data = pivot.fillna(0)

**Inspect the new dataset**

In [11]:
raw_data

category according to domain expert,person_id,Consultation,Delivery,Diagnostic,Procedure
0,10429,4.0,0.0,3.0,0.0
1,10430,12.0,1.0,6.0,0.0
2,10431,10.0,1.0,6.0,0.0
3,10432,6.0,0.0,6.0,0.0
4,10433,1.0,0.0,0.0,0.0
...,...,...,...,...,...
9258,19688,2.0,1.0,8.0,0.0
9259,19689,2.0,0.0,2.0,0.0
9260,19690,12.0,1.0,6.0,0.0
9261,19691,1.0,0.0,0.0,0.0
9262,19692,1.0,0.0,0.0,0.0

**Retrieve the names of the columns**

In [12]:
raw_data.columns

Index(['person_id', 'Consultation', 'Delivery', 'Diagnostic', 'Procedure'], dtype='object', name='category according to domain expert')

**Rearrange the columns to place the target variable at the end**

In [13]:
dataset = raw_data[['person_id', 'Consultation',  'Diagnostic', 'Procedure','Delivery']]

**Inspect the new dataset**

In [14]:
dataset

category according to domain expert,person_id,Consultation,Diagnostic,Procedure,Delivery
0,10429,4.0,3.0,0.0,0.0
1,10430,12.0,6.0,0.0,1.0
2,10431,10.0,6.0,0.0,1.0
3,10432,6.0,6.0,0.0,0.0
4,10433,1.0,0.0,0.0,0.0
...,...,...,...,...,...
9258,19688,2.0,8.0,0.0,1.0
9259,19689,2.0,2.0,0.0,0.0
9260,19690,12.0,6.0,0.0,1.0
9261,19691,1.0,0.0,0.0,0.0
9262,19692,1.0,0.0,0.0,0.0